.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0546;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock div {
    margin: 5px;
}

.digit, .text {
    font-size: 80px;
    color: #db7911;
}